@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    padding: 1.5rem;
  }
  

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 12%);
    border-radius: 3%;
    padding: 1.5rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    margin-bottom: 1.25rem;
    object-fit: cover;
  }

.name {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.location {
    color: greenyellow;
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}

.job {
    font-size: 0.875rem; 
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 1.5rem;
  }

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

.link {
    background-color: hsl(0, 0%, 20%); 
    color: hsl(0, 0%, 100%);
    padding: 0.75rem;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.875rem;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: translateY(0);
    text-decoration: none;
    display: block;
    text-align: center;
    text-decoration: none;
  }
  
.link:hover,
  .link:focus {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
    transform: translateY(-5px);
    outline: none;
  }
  
footer {
    margin-top: auto;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

